@model Planmenus.Data.Entities.MDDelivery

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MDDelivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliv_codig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliv_codig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliv_nombcom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliv_nombcom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliv_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliv_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliv_act)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliv_act)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_deliv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
