@model Planmenus.Data.Entities.MDUsuarios

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MDUsuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usua_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usua_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usua_nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usua_nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usua_apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usua_apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usua_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usua_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usua_pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usua_pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usua_act)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usua_act)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
